# this CI is for internal import from another template
name: Bundle Test

on:
  workflow_call:

jobs:
  test-bundle:
    name: Test the bundle
    runs-on: ubuntu-24.04

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pipx install tox

      - name: Setup environment
        run: |
          sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
          sudo rm -rf /run/containerd
          sudo snap install concierge --classic
          sudo concierge prepare --trace

      - name: Run test
        run: |
          # Requires the model to be called kubeflow
          juju add-model kubeflow
          tox -e bundle-integration -- --model kubeflow

      - name: Collect charm debug artifacts
        uses: canonical/kubeflow-ci/actions/dump-charm-debug-artifacts@main
        if: always()
