# this CI is for internal import from another template
name: Integration Tests

on:
  workflow_call:
    inputs:
      charm-name:
        required: true
        type: string

jobs:
  integration:
    name: Integration tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: pipx install tox

      - name: Setup environment
        run: |
          sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
          sudo rm -rf /run/containerd
          sudo snap install concierge --classic
          sudo concierge prepare --trace

      - name: Run integration test
        run: |
          # Requires the model to be called kubeflow
          juju add-model kubeflow
          sg microk8s -c "tox -e ${{ inputs.charm-name }}-integration"

      - name: Collect charm debug artifacts
        uses: canonical/kubeflow-ci/actions/dump-charm-debug-artifacts@main
        if: always()
