# this CI is for internal import from another template
name: Observability Test

on:
  workflow_call:

jobs:
  integration-observability:
    name: Observability Integration Test
    runs-on: ubuntu-24.04

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pipx install tox

      - name: Setup environment
        run: |
          sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
          sudo rm -rf /run/containerd
          sudo snap install concierge --classic
          sudo concierge prepare --trace

      - name: Run integration tests
        run: |
          juju add-model cos-test
          tox -vve cos-integration -- --model cos-test

      - name: Collect charm debug artifacts
        uses: canonical/kubeflow-ci/actions/dump-charm-debug-artifacts@main
        if: always()
