name: Backport PR

# Description:
#   Automates the creation of backport pull requests to target branches.
#   This is a reusable workflow designed to be called by a parent workflow
#   and triggered usually triggered on a PR merge.
#
# Inputs:
#   - GH_TOKEN: A GitHub PAT with repo and workflow scopes.
#   - GPG_PRIVATE_KEY: The exported GPG private key used to sign backport commits.
#   - GPG_PASSPHRASE: The passphrase for the provided GPG key.

on:
  workflow_call:
    secrets:
      GH_TOKEN:
        required: true
      GPG_PRIVATE_KEY:
        required: true
      GPG_PASSPHRASE:
        required: true

jobs:
  backport-pr:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Import and configure the GPG key
        id: import-gpg
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Create backport pull requests
        uses: korthout/backport-action@v4
        with:
          copy_assignees: true
          copy_requested_reviewers: true
          pull_title: "backport (${target_branch}): ${pull_title}"
          github_token: ${{ secrets.GH_TOKEN }}
          experimental: '{"conflict_resolution": "draft_commit_conflicts"}'
          git_committer_name: ${{ steps.import-gpg.outputs.name }}
          git_committer_email: ${{ steps.import-gpg.outputs.email }}
