name: Build

on:
  workflow_call:
    inputs:
      rock-dir:
        description: "Path to rock directory, i.e. directory containing rockcraft.yaml"
        required: true
        type: string
      rockcraft-channel:
        description: "Rockcraft channel e.g. latest/stable"
        required: false
        default: "latest/stable"
        type: string
      rockcraft-extra-args:
        description: "Extra arguments to be used when packing the rocks"
        required: false
        default: ""
        type: string
      source-branch:
        description: "GitHub branch to checkout. If blank, it will use default values."
        default: ''
        required: false
        type: string

    outputs:
      rock-artifact:
        description: "Name of the artifact that the built rock has been uploaded to."
        value: ${{ jobs.build.outputs.rock-artifact }}
      rock-filename:
        description: "Filename of the .rock file produced"
        value: ${{ jobs.build.outputs.rock-filename }}

jobs:
  build:
    name: Build ${{ inputs.rock-dir }}
    runs-on: ubuntu-24.04
    outputs:
      rock-artifact: ${{ steps.metadata.outputs.rock-artifact }}
      rock-filename: ${{ steps.metadata.outputs.rock-filename }}
    steps:
      - name: Maximise GH runner space
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.source-branch }}

      - uses: canonical/craft-actions/rockcraft-pack@main
        id: rockcraft
        if: ${{ inputs.rockcraft-extra-args == "" }}
        with:
          path: ./${{ inputs.rock-dir }}
          rockcraft-channel: ${{ inputs.rockcraft-channel }}

      - id: rockcraft-manual
        if: ${{ inputs.rockcraft-extra-args != "" }}
        run: |
          
          sudo snap install rockcraft --classic
          
          cd ${{ inputs.rock-dir || "." }}
          rockcraft pack ${{ inputs.rockcraft-extra-args }}
          NAME=$(find . -name "*.rock")
          
          echo "rock=$NAME" >> "$GITHUB_OUTPUT"

      - name: Output rock filename
        id: metadata
        run: |
          NAME=$(yq eval ".name" rockcraft.yaml)
          ROCK=$(echo ${{ steps.rockcraft.outputs.rock || steps.rockcraft-manual.outputs.rock }} | sed 's:.*/::')
          echo "rock-artifact=$NAME" >> "$GITHUB_OUTPUT"
          echo "rock-filename=$ROCK" >> "$GITHUB_OUTPUT"
        working-directory: ${{ inputs.rock-dir }}

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.metadata.outputs.rock-artifact }}
          path: ${{ inputs.rock-dir }}/${{ steps.metadata.outputs.rock-filename }}
