name: Get rocks modified and build-scan-test-publish them

on:
  workflow_call:
    inputs:
      rockcraft-channel:
        description: "Rockcraft channel e.g. latest/stable"
        required: false
        default: "latest/stable"
        type: string
      microk8s-channel:
        description: "Microk8s channel e.g. 1.32/stable"
        required: true
        default: "1.32/stable"
        type: string
      juju-channel:
        description: "Juju channel e.g. 3.6/stable"
        required: true
        default: "3.6/stable"
        type: string
      python-version:
        description: "Version of python to use for integration tests. If empty, it will use machine's default"
        default: ""
        required: false
        type: string
      base-branch:
        description: Branch, tag, or commit SHA against which the changes will be detected.
        required: false
        default: main
        type: string

jobs:
  get-rock-paths-modified:
    name: Get rockcraft paths modified
    uses: ./.github/workflows/get-rocks-modified.yaml
    with:
      base-branch: ${{ inputs.base-branch }}

  build-scan-test-publish-rock:
    name: CI
    needs: get-rock-paths-modified
    strategy:
      fail-fast: false
      matrix:
        rock-dir: ${{ fromJson(needs.get-rock-paths-modified.outputs.paths) }}
    uses: ./.github/workflows/build-scan-test-publish-rock.yaml
    secrets: inherit
    with:
      rock-dir: ${{ matrix.rock-dir }}
      microk8s-channel: ${{ inputs.microk8s-channel }}
      juju-channel: ${{ inputs.juju-channel }}
      rockcraft-channel: ${{ inputs.rockcraft-channel }}
      python-version: ${{ inputs.python-version }}
