name: Integration tests

on:
  workflow_call:
    inputs:
      tests-dir:
        description: "Path to tests directory"
        required: true
        type: string
      rock-artifact:
        description: "Name of the artifact from which the rock will be downloaded."
        required: true
        type: string
      rock-reference:
        description: "Rock reference to be used in order to copy the image to docker cache.
          It consists of <rock-name>:<rock-version>."
        required: true
        type: string
      rock-filename:
        description: "Filename of the .rock file"
        required: true
        type: string
      microk8s-channel:
        description: "Microk8s channel e.g. 1.32/stable"
        required: true
        default: "1.32/stable"
        type: string
      juju-channel:
        description: "Juju channel e.g. 3.6/stable"
        required: true
        default: "3.6/stable"
        type: string
      source-branch:
        description: "Github branch to checkout. If blank, it will use default values."
        default: '' # For default behaviour, see https://github.com/actions/checkout/tree/v4/#usage
        required: false
        type: string
      python-version:
        description: "Version of python to install. If empty, the workflow will not install and will use machine's default"
        default: ""
        required: false
        type: string

jobs:
  integration-tests:
    name: Test ${{ inputs.rock-reference }}
    runs-on: ubuntu-24.04
    steps:
      - name: Maximise GH runner space
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.source-branch }}

      - name: Install Rockcraft
        run: sudo snap install rockcraft --classic --edge

      - uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.rock-artifact }}

      - name: Set up Python version from input
        if: ${{ inputs.python-version }}
        uses: actions/setup-python@v5.3.0
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install dependencies
        run: pip install tox

      - name: Export rock to Docker
        id: rock_in_docker
        run: |
          sudo rockcraft.skopeo --insecure-policy copy oci-archive:${{ inputs.rock-filename }} docker-daemon:${{ inputs.rock-reference }}
          echo "image=${{ inputs.rock-reference }}" >> "$GITHUB_OUTPUT"

      - name: Clean up .rock file
        run: rm ${{ inputs.rock-filename }}

      - name: Install dependencies
        run: pipx install tox

      - name: Setup environment
        run: |
          sudo apt-get remove -y docker-ce docker-ce-cli containerd.io
          sudo rm -rf /run/containerd
          sudo snap install concierge --classic
          sudo concierge prepare --trace

      - name: Integration tests
        run: |
          if [[ "${{ inputs.python-version }}" ]]
          then
            python${{ inputs.python-version }} -m tox -e integration
          else
            tox -e integration
          fi
        working-directory: ./${{ inputs.tests-dir }}

      - name: Save debug artifacts
        if: failure() || cancelled()
        uses: canonical/kubeflow-ci/actions/dump-charm-debug-artifacts@main

      - name: Setup Debug Artifact Collection
        if: failure() || cancelled()
        run: mkdir tmp

      - name: Collect charmcraft logs
        if: failure() || cancelled()
        run: |
          cat /home/runner/.local/state/charmcraft/log/charmcraft-*.log | tee tmp/charmcraft.log

      - name: Collect Juju status
        if: failure() || cancelled()
        run: juju status | tee tmp/juju-status.txt

      - name: Collect Juju log
        if: failure() || cancelled()
        run: juju debug-log --replay --no-tail | tee tmp/juju-status.txt

      - name: Collect Kube status
        if: failure() || cancelled()
        run: |
          kubectl get all -A | tee tmp/kube-summary.txt
          kubectl describe pods -A | tee tmp/kube-pods.txt
          kubectl describe virtualservices -A | tee tmp/kube-virtualservices.txt
          kubectl describe gateways -A | tee tmp/kube-gateways.txt
          kubectl describe deployments -A | tee tmp/kube-deployments.txt
          kubectl describe replicasets -A | tee tmp/kubectl-replicasets.txt

      - name: Upload debug artifacts
        if: failure() || cancelled()
        uses: actions/upload-artifact@v4
        with:
          name: test-run-artifacts
          path: tmp
